{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <h3>Hi {{ user.username }}!</h3>
  <p><a href="{% url 'logout' %}">logout</a></p>
  {% block content_header %}
    <h2>Secured Files</h2>
    <p>
      <a href="{% url 'upload-file' %}" class="btn btn-primary">Encrypt local file</a>
    </p>
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Date of upload</th>
        <th>Download</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>{{ file.decryptedFile.name }}</td>
          <td>
          <span class="text-muted">{{ file.date_posted }}</span>
          </td>
          <td><a href="{{ file.decryptedFile.url }}" class="btn btn-primary btn-sm" target="_blank">stream back</a></td>
          <td>
            <form method="post" action="{% url 'delete-file' file.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>You are not logged in. <a href="{% url 'login' %}">Login</a> here.</p>
  <p>New User? <a href="{% url 'register' %}">Sign Up</a> here.</p>
  {% endif %}
  
{% endblock %}
